*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    margin-top: 1rem;
    font-size: 8vmin;
    color:#DA2C43;    
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    gap:3vmin;
    align-items: center;
    justify-content: center;
}
.box{
    height:18vmin;
    width:18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    border:none;
    color:rgb(235, 13, 13);
    background-color: #E9F6FF;
    box-shadow: 1rem 1rem 0.8rem  rgb(133, 130, 130);
}
#reset-btn{
    padding:1rem;
    color:white;
    background-color:black;
    border-radius: 1rem;
    border:none;
    font-size:3vmin;

}
#newgame-btn{
    padding:1rem;
    color:white;
    background-color:black;
    border-radius: 1rem;
    border:none;
    font-size:3vmin;
    
}
.msg-cnt{
    height: 35rem;  
    display:flex ;
    align-items: center; 
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 5rem;
   gap:5rem;
    
}
.msg{
   
    font-size: 4rem;
}
.hide{
 display: none;
}